extends layout


block body
    div(class='navbar navbar-default navbar-fixed-top')
        div(class='container')
            div(class='navbar-header')
                a(href='/')
                    img(src='/images/logo-no-bg.png')
            ul(class='nav navbar-nav navbar-right')
                if (user)
                    li
                        p(class='navbar-text')
                            b
                                #{user.username}
                            a(href='/logout') Wyloguj'
                else
                    li
                        a(href='/login') Zaloguj
    div(class='container top-padded')
        ng-view

        div(class='pull-left text-gray')
           h6 Wersja: #{version}
        div(class='bottom-padded')


    //script().
    //    kendo.culture("pl-PL");