doctype html
html(ng-app='linkerapp')
    head
        title Linker
        meta(charset='utf-8')
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/kendo.common.min.css')
        link(rel='stylesheet', href='/stylesheets/kendo.custom.css')
        link(rel='stylesheet', href='/modules/angular-material/angular-material.min.css')
        link(rel='stylesheet', href='/modules/angular-material-icons/angular-material-icons.css')
        link(rel='stylesheet', href='/modules/twitter-bootstrap-3.0.0/dist/css/bootstrap.min.css')

    body(id="b")
        block body

        script(src='/modules/jquery/dist/jquery.min.js')
        script(src='/modules/twitter-bootstrap-3.0.0/dist/js/bootstrap.min.js')
        script(src='/modules/angular/angular.js')
        script(src='/modules/angular-route/angular-route.js')


        script(src='/javascripts/kendo/kendo.all.js')
        script(src='/javascripts/kendo/kendo.culture.pl.min.js')
        script(src='/javascripts/kendo/kendo.culture.pl-PL.min.js')
        script(src='/javascripts/kendo/kendo.custom.js')
        script(src='/javascripts/angular/issuescontroller.js')
        script(src='/javascripts/angular/addeditcontroller.js')
        script(src='/javascripts/angular/logincontroller.js')
        script(src='/javascripts/angular/logoutcontroller.js')
        script(src='/javascripts/angular/linkerapp.js')

        script(src='/modules/angular-material/angular-material.js')
        script(src='/modules/angular-animate/angular-animate.min.js')
        script(src='/modules/angular-aria/angular-aria.min.js')
        script(src='/modules/angular-material-icons/angular-material-icons.min.js')

        script().
            kendo.culture("pl-PL");